In [5]:
import pandas as pd
from skyfield.api import EarthSatellite, load, wgs84
from datetime import datetime

# Active

# Collect TLE data from URL
data_url = 'https://celestrak.com/NORAD/elements/active.txt'
satellites = load.tle_file(data_url)
print('Loaded', len(satellites), 'satellites')

# Set the time of the dataset e.g. ts.now() gives you the positioning data of the satellites now.
ts = load.timescale()
t = ts.now()

# datetime object containing current date and time
now = datetime.now()

# dd/mm/YY H:M:S
export_time = now.strftime("%d-%m-%Y")

# Arrays to store cleaned data.
name = []
lat  = []
long = []
el   = []

# Create columns for Pandas
cols = ["name", "latitude", "longitude", "elevation"]

# Use Skyfeild to clean the TLE file and append the data to a column array.
for sat in satellites:
    geometry = sat.at(t)
    subpoint = geometry.subpoint()
    satname = sat.name
    latitude = subpoint.latitude.degrees
    longitude = subpoint.longitude.degrees
    elevation = subpoint.elevation.km

    name.append(sat.name)
    lat.append(latitude)
    long.append(longitude)
    el.append(elevation)

# Merge the cleaned columns into a dataframe
sat_data = pd.DataFrame({'Name': name, 'Latitude': lat, 'Longitude': long, 'Elevation': el})

# Write a csv file with the cleaned data.
sat_data.to_csv("active-sats " + export_time + ".csv")

print(sat_data)

[#################################] 100% active.txt

Loaded 4597 satellites
              Name   Latitude   Longitude    Elevation
0      CALSPHERE 1 -78.789698  127.340738   996.313120
1      CALSPHERE 2 -30.277885  130.920693  1085.579176
2            LCS 1   0.837931  174.468698  2775.902260
3        TEMPSAT 1 -61.807394  134.288127  1160.276378
4     CALSPHERE 4A -42.306322 -137.013722  1181.784712
...            ...        ...         ...          ...
4592  YAOGAN-30 AE  24.183612 -114.965391   607.499064
4593  YAOGAN-30 AF -33.602908   33.556694   602.018926
4594   ISS (NAUKA)  11.979391 -162.383638   419.752621
4595     2021-067A  24.824890   22.903007   499.670582
4596     2021-068B  36.566770  -86.483162   609.509801

[4597 rows x 4 columns]